
body {
    font-family: sans;
    background-color: #f8f8f1;
}

div.function {
    border: 1px dotted black;
}

div.function h3 {
    background-color: black;
    color: white;
    margin: 0 0 0 0;
    padding: 2px;	    
}

span.functiondef {
    color: #484840;
    font-weight: bold;	   
}

span.functiondef i {
    color: #888880;
}
