
body {
    font-family: sans;
    background-color: #f8f8f1;
}

div.function {
    border: 1px solid #888880;
    margin: 0.8em;	    
    padding: 0;
}

div.function p {
    padding: 0 0 0 0.5em;    
}

div.function h3 {
    background-color: #888880;
    color: white;
    margin: 0 0 0 0;
    padding: 2px;	    
}

span.functiondef {
    color: #484840;
    font-weight: bold;	   
}

span.functiondef i {
    color: #888880;
}

a {
	color: #888880;
	text-decoration: none;
}

/* For the docbook html output */
em.parameter code {
    font-family: serif;
}

h1.title, h2.title, h3.title, h3.author, p.title, div.toc p b, div.list-of-figuresp p b, div.navheader, div.navfooter {
    font-family: sans-serif;
}

div.tip {
    border: 1px solid black;
    background: white;    
    width: 300px;
    float:right;	   
    padding:5px;	    
}
