
body {
    font-family: sans;
    background-color: #f8f8f1;
}

div.function {
    border: 1px solid #888880;
    margin: 0.8em;	    
    padding: 0;	    
}

div.function p {
    padding: 0 0 0 0.5em;    
}

div.function h3 {
    background-color: #888880;
    color: white;
    margin: 0 0 0 0;
    padding: 2px;	    
}

span.functiondef {
    color: #484840;
    font-weight: bold;	   
}

span.functiondef i {
    color: #888880;
}
